# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/save_axel.json
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/.cmake/api/v1/reply/index-2025-02-08T15-08-43-0745.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-02-08T14-34-43-0999.json
